/*---=====Google Fonts=====---*/
*{
  font-family: "Tapestry", serif;
  font-weight: 400;
  font-style: normal;
  }

  html{
    scroll-behavior: smooth;
  }
  
  body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /*---=====navbar=====---*/
  .navbar{
    background: linear-gradient(to bottom, #F5F5F5 , #F5F5F5 ) !important; 
  }

  .logo-img{
    padding: 0;
    margin: 0;
    margin-top: -30px;
    width: 180px;
  }



  .nav-link{
    font-size: 18px;
    letter-spacing: 1.5px;
    transition: 0.3s;
  }

  .nav-link:hover{
   box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.541);
   background: #363636;
   color: #fff;
   border-radius: 20px;
  }

  .navbar-toggler{
    border: none;
  }

  .menu-btn{
    background: transparent;
    border: none;
  }
  
  .menu-icon{
    display: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background: #000;
    padding: 3px;
    width: 35px;
  }

  @media(max-width: 990px){
    .menu-icon{
      display: block;
    }

    .nav-div{
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
    }
  }

  @media(max-width: 413px){
    .logo-img{
      display: none;
    }

    .navbar{
     padding: 15px;
    }
  }


/*---=====google translate btn=====---*/

/* Target the container element */
#google_translate_element {
  width: 185px;
  text-align: center;
  height: 40px;
  overflow: hidden;
  float: right;
  box-sizing: border-box;
  box-shadow: 5px 5px 4px #9b9999;
  border-radius: 20px;
}

/* Target the select element */
#google_translate_element select {
  padding: 10px;
  border: none;
  color: #fff;
  outline: none;
  background: #363636;

}

/* Target the option elements */
#google_translate_element select option {
  font-size: 15px;
  text-align: center;
}

/*---=====google translate btn end=====---*/

/*---=====navbar end=====---*/

/*---=====register form=====---*/
.form{
  
  background-image:  url(../images/back.png);
  background-size: cover;
  margin-top: 90px;
}

.input-box{
  border: 1px solid gray;
  border-radius: 20px;
}

input:focus{
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid gray !important;
}

.btn{
  border-radius: 20px;
  background: #363636;
  color: #fff;
  box-sizing: border-box; 
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover{
  background: #fff;
  border: 1px solid gray;
  color: #000;
}


  
/*---=====footer=====---*/
footer{
  background: #0c081f;
}

.footer-row{
  margin: 0 auto;
  text-align: center;
  /* margin-top: 15px; */
  padding: 20px;
  color: #fff;

}

.contact-us, .my-account, .categories{
  margin-top: 0px;
  
}

.contact-us .my-account .categories, .h2{
  padding: 5px;
  border-top: 3px double cyan;
  border-bottom: 3px double cyan;  
}

.footer-div{
 padding: 0px;
}

.footer-div p{
  padding: 0px;
  font-size: 18px;
  letter-spacing: 1px;
}

.footer-div p i{
  padding: 7px;
  font-size: 20px;
  color: #fff;
  
}

.second-footer{
  background: #0c081f;
  color: #fff;
  padding: 0px;
}

.copy{
  padding: 5px;
  margin-top: 10px;
  letter-spacing: 0.5px;
  font-size: 18px;
  
}

.payment-div{
  padding: 10px;
}

.payment-div img{
 
  margin: 0 auto;
}

.media-link{
  padding: 5px;
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  gap: 25px;
  justify-content: center;
}

.media-link a i{
  border: 1px solid white;
  color: #fff;
  border-radius: 50px;
  padding: 5px;
  transition: 0.3s;
}

.media-link a i:hover{
  background: #000;
  color: cyan;
  transform: scale(1.20);
}

.copy, .payment-div, .media-link{
  text-align: center;
}
/*---=====footer end=====---*/